@import "../variables";

.view-enter {
  opacity: 0.01;
  transform: translate(-2rem);
}

.view-enter.view-enter-active {
  opacity: 1;
  transform: translate(0);
  transition: transform 500ms ease-in, opacity 300ms ease-in;
}

.view-leave {
  opacity: 1;
  transform: translate(0);
}

.view-leave.view-leave-active {
  opacity: 0.01;
  transform: translate(10rem);
  transition: transform 500ms ease-in, opacity 300ms ease-in;
}

.view {
  position: absolute;
  border-radius: 1rem;
  padding: 1rem;
  padding-bottom: 22rem;
  top: 20rem;
  bottom: 0;
  width: 80%;
}
