@import "../variables";

.view-enter {
  opacity: 0.01;
  transform: translate(-2rem);
}

.view-enter.view-enter-active {
  opacity: 1;
  transform: translate(0);
  transition: transform 500ms ease-in, opacity 300ms ease-in;
}

.view-leave {
  opacity: 1;
  transform: translate(0);
}

.view-leave.view-leave-active {
  opacity: 0.01;
  transform: translate(10rem);
  transition: transform 500ms ease-in, opacity 300ms ease-in;
}

.main{
  padding-top: 1rem;
}

.main__links{
  position: absolute;
  top: 27rem;
  width: 20rem;
  background: $color-FF;
  border-radius: 0.3rem;
  //text-align: right;
  a {
    display: table;
    width: 100%;
    text-decoration: underline;
    text-align: left;
    //@include link-color($color-H);
    &>span {
      display: table-cell;
      vertical-align: middle;
    }
    
    .ex-link__logo {
      width: 3rem;
      height: 3rem;
    }

    .ex-link__text {
      padding: 0 1rem;
    }
  }

  svg {
    width: 100%;
    height: 100%;
  }
}
.main__views {
  position: relative;
}

// .main__options{
//   display: flex;
//   padding-left: 25rem;
//   label{
//     display: block;
//     padding-bottom: 0.5rem;
//   }
//   select {
//     border-radius: 0.3rem;
//     border: none;
//     border-bottom: 1px solid $color-FF;
//     padding: 0.5rem;
//     background: #eee;
//     option{
//       padding: 0.5rem;
//     }
//   }
// }
.view {
  position: absolute;
  border-radius: 1rem;
  padding: 1rem;
  top: 0;
  left: 24rem;
  right: 0;
}
