$color-base: #444;

$color-A: #2E112D;
$color-B: #540032;
$color-C: #820333;
$color-D: #C9283E;
$color-E: #F0433A;

$color-link: $color-E;

@mixin link-color($color){
  color: $color;
  &:link,
  &:visited,
  &:active {
    color: $color;
    text-decoration: none;
  }
}