@import url("https://fonts.googleapis.com/css?family=Ubuntu");
*, *:before, *:after {
  box-sizing: inherit; }

html {
  position: relative;
  min-height: 100%;
  font-size: 62.5%;
  font-family: 'Ubuntu',sans-serif;
  color: #DEDEDE;
  overflow: hidden;
  box-sizing: border-box;
  background: #48555E; }

body {
  font-size: 14px;
  margin: 0;
  padding: 0; }

a {
  color: #10B1E2; }
  a:link, a:visited, a:active {
    color: #10B1E2;
    text-decoration: none; }

a.active {
  color: #C6B712; }
  a.active:link, a.active:visited, a.active:active {
    color: #C6B712;
    text-decoration: none; }

h2 {
  color: #C6B712;
  font-size: 32px; }

h3 {
  text-transform: uppercase; }

ul {
  list-style: none; }

#content {
  width: 80%;
  margin: auto;
  padding-top: 5rem; }
