@import "variables";

.header{
  display: flex;
  align-items: flex-end;
  background: $color-FF;
  padding: 2rem 10% 0 10%;
}

#skiplinks {
  display: none;
  a{
    position: absolute;
    top: 0;
    left: -9999px;
    &:focus{
      left: 0;
    }
  }
}

.header__image{
  position: relative;
  width: 20rem;
  height: 20rem;
  background: url('./images/shepcuddles-blue.jpg');
  transform: rotate(-15deg);
  background-size: auto 100%;
  margin-bottom: -10rem;
  border: 8px solid $color-I;
  border-radius: 100%;
  z-index: 10;
  box-shadow: 0 0 0 10px $color-F;
}

.header__name{
  margin-left: 2rem;
  font-size: 42px;
  color: $color-I;
  text-shadow: 0 4px 0 rgba(black, 0.2);
}