@import "variables";

.menu {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.menu__cover {
  @extend .menu;
  display: flex;
  display: none;
  justify-content: center;
  height: 4rem;
  background: $color-FF;
  a {
    display: inline-block;
    margin: 0 2rem;
    height: 100%;
    line-height: 4rem;
  }
}

.menu__cards {
  @extend .menu;
  display: flex;
  height: 22rem;
  padding: 0 10%;
  justify-content: center;
  
}

.card {
  position: relative;
  display: block;
  height: 30rem;
  width: 23rem;
  margin: 0 -2.5rem;
  cursor: pointer;
  transition: transform 500ms ease-in, opacity 300ms ease-in;
  perspective: 20rem;
  perspective-origin: center top;
  &:hover,
  &:focus {
    .card__face{ transition: none !important; }
  }
}

.card__face {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background: $color-I;
  transition: transform 0.3s ease-in-out;
  border-radius: 0.5rem;
  border:5px solid #EEE;
  overflow: hidden;
  box-shadow: 0 1px 3px 1px rgba(black, 0.2);
  @include link-color($color-F);
  z-index: 10;
}

.card__body {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 1rem;
  font-weight: bold;
}

.card__label{
  font-size: 18px;
  margin-bottom: 0.5rem;
}

.card__image {
  position: relative;
  height: 60%;
  width: 100%;
  background: $color-FF;
  border-radius: 1rem;
  //box-shadow: 2px 2px 0 1px $color-FF;
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    //filter: drop-shadow(5px 5px 1px $color-F);
  }
}

.card__number{
  display: none;
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 5rem;
  height: 5rem;
  background: $color-I;
  color: $color-FF;
  text-align: center;
  line-height: 5rem;
  border-radius: 100%;
  font-weight: bold;
  font-size: 24px;
  //text-shadow: 1px 1px 0 $color-FF;
  //border: 2px solid $color-J;
}