@import "./_variables.scss";

.menu {
  bottom: 0;
  display: flex;
  height: 25rem;
  padding: 0 5rem;
  justify-content: center;
  position: fixed;
  left: 0;
  right: 0;
}

.card {
  position: relative;
  display: block;
  height: 25rem;
  width: 20rem;
  margin: 0 -2.5rem;
  cursor: pointer;
}

.card__face {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background: white;
  border: 1px solid $color-E;
  transition: transform 0.3s ease-in-out;
  border-radius: 0.3rem;
  overflow: hidden;
  box-shadow: 0 2px 2px rgba($color-A, 0.4);
}

.card__label {
  padding: 1rem;
  font-weight: bold;
  //color: white;
  //text-shadow: 1px 1px 0 rgba(black, 0.5);
  //background: $color-B;
}

// Modified from original by Jack Rugile
// ref: https://codepen.io/jackrugile/pres/WZGeGM
$total: 4;
@for $i from 0 through ($total - 1) {

  $rotationRange: 20;
  $rotation: ($i - ($total - 1) / 2) / ($total - 2) * $rotationRange;
  $offsetRange: 30;
  $offset: abs(($i - ($total - 1) / 2) / ($total - 2) * $offsetRange);

  .card:nth-child(#{$i + 1}) {
    .card__face {
      transform: translateY($offset * 1px) rotate($rotation * 1deg);
    }

    &:hover,
    &:focus {
      .card__face{
        transform: translateY(-100px) rotate(0deg) scale(1.7);
        z-index: 5;
        transition-duration: 0.1s;
      }
    }
  }
}
