@import "./_variables.scss";

$color-section__border: $color-A;

$bevel-size: 2.5rem;
$border-width: 0.2rem;
$inner-bevel-offset: ($bevel-size - $border-width) * -1;

.section__header {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0 3rem 0 1rem;
  line-height: 25px;
  min-width: 10rem;
  color: white;
}

.section__label {
    display: inline-block;
    transform: translateX(0);
}

.section__bevel{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 0;
    border: $bevel-size solid $color-section__border;
    border-top: 0;
    border-right-color: transparent;
}

.section__content{
    min-height: 50px;
    padding: 1rem;
    border: 2px solid $color-section__border;
    border-bottom: none;
    // -webkit-border-image: 
    //   -webkit-gradient(linear, 0 0, 0 100%, from($color-section__border), to(rgba(0, 0, 0, 0))) 1 100%;
    // -webkit-border-image: 
    //   -webkit-linear-gradient($coylor-section__border, rgba(0, 0, 0, 0)) 1 100%;
    // -moz-border-image:
    //   -moz-linear-gradient($color-section__border, rgba(0, 0, 0, 0)) 1 100%;    
    // -o-border-image:
    //   -o-linear-gradient($color-section__border, rgba(0, 0, 0, 0)) 1 100%;
    // border-image:
    //   linear-gradient(to bottom, $color-section__border, rgba(0, 0, 0, 0)) 1 100%;
    .section__text{ transform: translateX(0); }
}