@import "./_variables.scss";

$color-section__border: $color-C;

.section__content {
 position: relative;
}

.section__header {
  margin: 0;
}

.section__label {
  display: inline-block;
  padding: 1rem;
  color: white;
  background: $color-C;
}

.section__border{
  position: absolute;
  top: 2.5rem;
  left: 0;
  right: 0;
  min-height: 10rem;
  border-width: 2px;
  border-style: solid;
  -webkit-border-image: 
    -webkit-gradient(linear, 0 0, 0 100%, from($color-section__border), to(rgba(0, 0, 0, 0))) 1 100%;
  -webkit-border-image: 
    -webkit-linear-gradient($color-section__border, rgba(0, 0, 0, 0)) 1 100%;
  -moz-border-image:
    -moz-linear-gradient($color-section__border, rgba(0, 0, 0, 0)) 1 100%;    
  -o-border-image:
    -o-linear-gradient($color-section__border, rgba(0, 0, 0, 0)) 1 100%;
  border-image:
    linear-gradient(to bottom, $color-section__border, rgba(0, 0, 0, 0)) 1 100%;
}

.section__corner{
  position: absolute;
  top: 0;
  left:calc(100% - 2.2rem);
  
  path{
    stroke: $color-section__border;
    stroke-width: 2px;
    fill: none;
  }
}