.section__header {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0 3rem 0 1rem;
  line-height: 25px;
  min-width: 10rem;
  color: white; }

.section__label {
  display: inline-block;
  transform: translateX(0); }

.section__bevel {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 0;
  border: 2.5rem solid #2E112D;
  border-top: 0;
  border-right-color: transparent; }

.section__content {
  min-height: 50px;
  padding: 1rem;
  border: 2px solid #2E112D;
  border-bottom: none; }
  .section__content .section__text {
    transform: translateX(0); }
